.link-list {
  list-style-type: none;
  margin-left: -25px;
}
.left-column {
  background-color: #eee;
}
.container-fluid {
  padding: 0;
}
.nav-pills li a {
  margin-left: -20px;
}
.form-control {
  margin-right: 20px;
  width: 250px;
}
.glyphicon-search {
  margin-right: 20px;
}
.main {
  margin: 20px 30px;
}
.content-img {
  max-width: 30%;
}
.featured-img {
  margin: 0 15px 15px 0;
}
.green-heading {
  border: 1px solid green;
  background-color: lime;
  padding: 10px 20px;
  margin: 15px 0;
  border-radius: 3px;
}
.blue-heading {
  border: 1px solid blue;
  background-color: yellow;
  padding: 10px 20px;
  margin: 15px 0;
  border-radius: 3px;
}
.caption {
  clear:both;
  width: 30%;
}
