.link-list {
  list-style-type: none;
  margin-left: -25px;
}
.left-column {
  background-color: #eee;
}
.container-fluid {
  padding: 0;
}
.nav-pills li a {
  margin-left: -20px;
}
.form-control {
  margin-right: 20px;
  width: 250px;
}
.glyphicon-search {
  margin-right: 20px;
}
.main {
  margin: 20px 30px;
}
.
